apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "zs-postgres-local.fullname" . }}-configmap
data:
  postgresUser: {{ .Values.username }}
  postgresDatabase: {{ .Values.database }}
  postgresDataPath: {{ .Values.volume.mountPath }}
